 
 

body {
    font-family: sans-serif;
    background-color: #000000; 
    color: #ffffff;  
    line-height: 1.6;
}

.contenitore-centrale {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
 
#nav-principale {
    background-color: #111111;
    padding: 20px;
    border-bottom: 2px solid #8a2be2;  
    position: sticky;
    z-index: 1000;
    top: 0%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-thomas {
    color: #8a2be2;
    font-weight: bold;
    font-size: 1.4rem;
}

#nav-principale ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:hover {
    color: #8a2be2;
}

 
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #0a0a0a;
}

.hero h1 {
    font-size: 3rem;
    color: #8a2be2; /* Titolo Viola */
    margin-bottom: 10px;
}

.hero-intro {
    color: #cccccc;
    margin-bottom: 30px;
}

.btn-viola {
    display: inline-block;
    background-color: #8a2be2;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

 
.sezione {
    margin: 60px 0;
}

h2 {
    color: #8a2be2;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.griglia-progetti {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.scheda-progetto {
    background-color: #111111;
    border: 1px solid #333333;
    padding: 20px;
    width: 40%;
    max-width: 420px;  
    border-radius: 8px;
}

.scheda-progetto:hover {
    border-color: #8a2be2;
}

.scheda-progetto h3 {
    margin-bottom: 10px;
    color: #ffffff;
}

.link-progetto {
    display: inline-block;
    margin-top: 15px;
    color: #8a2be2;
    text-decoration: none;
    font-weight: bold;
}

.lista-tag {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    background-color: #222222;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #8a2be2;
}

.footer-nero {
    text-align: center;
    padding: 40px;
    background-color: #111111;
    margin-top: 50px;
    width: 100%;
   
}