body { 
    font-family: Arial, sans-serif;
     max-width: 800px;
     margin: 40px auto;
     background-color: rgb(118, 201, 172); 
    }
nav a { 
    display: block;
    margin: 10px 0; 
    font-size: 1.1em;
}
h1 {
    background-color: rgb(79, 149, 124);
    border-radius: 5px;
    padding: 20px;
    color : #ffffff;
}
a { 
  text-decoration: none;
  color: #ffffff;            
  border: 1px solid #0056b3; 
  background-color: #007BFF;  
  padding: 8px 16px;         
  border-radius: 5px;
}

a:hover {
  background-color: #0056b3;  
}
 