body{
    font-family: Arial;
    color:black;
    margin: 0;
    padding:0;
}

header{
    color: white;
    background-color: blue;
    padding: 30px 20px;
    text-align: center;
}

header h1{
    margin: 0;
}

header p{
    margin: 0;
}
main{
    margin: 50px;
    padding: 20px;
}
.sezione{
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    margin: 20px;
}

.titolo{
    margin:0px;
    padding: 20px 20px;
    background-color: lightgray;
    cursor: pointer;
}

.titolo:hover{
    background-color: gray;
}

.contenuto{
    display: none;
    padding: 20px 20px;
}

.contenuto.visible{
    display: block;
}